.ui-datepicker {
  margin-top: 10px;
  border-radius: 15px;
  border-color: #ced4da;
  padding: 0;
  width: 340px;
  overflow: hidden;
  .ui-datepicker-header {
    background-color: #ced4da;
    border: none;
    display: flex;
    justify-content: center;
    padding: 5px;
    .ui-corner-all {
      cursor: pointer;
      &.ui-datepicker-prev {
        transform: rotate(-45deg) translate(3px, 5px);
      }
      &.ui-datepicker-next {
        transform: rotate(135deg) translate(4px, 2px);
      }
      &.ui-state-hover {
        border: none;
        background-color: transparent;
      }
      &.ui-datepicker-next-hover {
        right: 2px;
        top: 2px;
      }
      &.ui-datepicker-prev-hover {
        left: 2px;
        top: 2px;
      }
      span {
        background-image: none;
        border-top: 1px solid #333;
        border-left: 1px solid #333;
        height: 9px;
        width: 9px;
        margin: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .ui-datepicker-title {
      position: relative;
      display: flex;
      > select {
        display: none;
      }
      .select-selected {
        margin: 0 20px;
        cursor: pointer;
        user-select: none;
      }
      .select-items {
        opacity: 1;
        position: absolute;
        left: -8%;
        top: 30px;
        background: white;
        border-radius: 15px;
        border: 1px solid #ced4da;
        font-size: 14px;
        line-height: 14px;
        overflow: hidden;
        cursor: pointer;
        max-height: 160px;
        overflow-y: overlay;
        min-width: 100px;

        &:last-child {
          left: 40%;
        }
        &::-webkit-scrollbar {
          width: 6px;
        }
        &::-webkit-scrollbar-thumb {
          background: gray;
          border-radius: 10px;
        }
        &::-webkit-scrollbar-track {
          margin: {
            top: 5px;
            bottom: 5px;
          }
          border-radius: 10px;
        }
        > div {
          padding: 6px 15px;
          transition: all 150ms;
          cursor: pointer;
          &:hover {
            background-color: #ced4da91;
          }
        }
        &.select-hide {
          opacity: 0;
          pointer-events: none;
        }
      }
    }
  }
  .ui-datepicker-calendar {
    thead {
    }
    tbody {
      tr {
        td {
          a {
            background: transparent;
            font-weight: normal;
            color: $jai-black;
            border: 1px solid transparent;
            border-radius: 50px;
            height: 37px;
            width: 37px;
            padding: 0;
            display: flex;
            margin: auto;
            justify-content: center;
            align-items: center;
            margin-bottom: 5px;
            text-align: center;
            transition: all 150ms;
            &:hover,
            &.ui-state-active {
              border: 1px solid $jai-black;
            }
          }
        }
      }
    }
  }
}
