input,
textarea {
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
  }
  &.form-control {
    transition: all 300ms;
    padding-left: 20px;
    border-radius: 25px;
    min-height: 45px;
    &[readonly] {
      background-color: transparent;
    }
    &:focus {
      box-shadow: none;
      border-color: $secondary-color;
    }
  }
  &.error {
    position: relative;
    border-color: $jai-error;
    + span {
      position: absolute;
      color: $jai-error;
      font-size: 13px;
      margin-left: 22px;
    }
  }
}

textarea {
  &.form-control {
    border-radius: 15px;
  }
}
