@font-face {
  font-family: "Poppins Light";
  src: url(../css/fonts/Poppins/Poppins-ExtraLight.ttf);
}
@font-face {
  font-family: "Poppins Regular";
  src: url(../css/fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Poppins Bold";
  src: url(../css/fonts/Poppins/Poppins-Bold.ttf);
}

body {
  * {
    box-sizing: border-box;
    font-family: "Poppins Regular", Times, serif;
  }
  .btn {
    border-radius: 35px;
    padding: 10px 20px;
    &.edit-btn,
    &.delete-btn {
      text-indent: -9999999px;
      background-size: 25px;
      background-position: center;
      background-repeat: no-repeat;
      height: 42px;
      width: 42px;
    }
    &.edit-btn {
      background-image: url(../assets/edit-icon.png);
    }
    &.delete-btn {
      background-image: url(../assets/delete-icon.png);
    }
  }
}

.thumb-image {
  width: 50px;
}

.thumb-image2 {
  width: 70px;
}

.update-image {
  width: 200px;
}

.content-container {
  padding: 20px 50px 0 70px;
  .page-name {
    margin-bottom: 20px;
    h1 {
      font-weight: 600;
      margin: 0;
    }
  }
}

/* NAV STYLE */
.sticky-header {
  position: sticky;
  top: 0;
  left: 0;
  .nav-container {
    position: absolute;
    top: 20px;
    left: -220px;
    height: calc(100vh - 40px);
    min-width: 238px;
    background-color: #06283d;
    z-index: 100;
    transition: all 300ms ease;
    color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 5px 5px 25px rgb(185, 185, 185);
    &:hover {
      left: 0;
    }
    .company-name {
      padding: 20px;
      h2 {
        font-size: 24px;
      }
    }
    .nav-link-container {
      + .nav-link-container {
        margin-top: 10px;
      }
      a {
        &.nav-link {
          color: white;
          transition: all 300ms ease;
          &:hover {
            text-indent: 10px;
          }
        }
      }
    }
  }
}

/* TABLE STYLE */

.jai-table {
  margin: 35px 15px;
  p {
    margin: 0;
    &.jai-table-name {
      > span {
      }
    }
    &.primary-font {
      font-weight: bold;
      margin-bottom: 3px;
    }
    &.sub-font {
      font-size: 14px;
      line-height: 17px;
    }
    &.red {
      color: rgb(236, 30, 30);
    }
    &.green {
      color: rgb(18, 155, 18);
    }
  }
  > .row {
    border: {
      top: 1px solid #333;
      left: 1px solid #333;
      right: 1px solid #333;
    }
    &:first-child {
      font-weight: bold;
      > * {
        padding: {
          top: 10px;
          bottom: 10px;
        }
        + * {
          border-left: 1px solid #333;
        }
      }
    }
    > * {
      padding: {
        top: 5px;
        bottom: 5px;
      }
      + * {
        border-left: 1px solid #333;
      }
    }
    &:first-child {
      border: {
        top: {
          left: {
            radius: 15px;
          }
          right: {
            radius: 15px;
          }
        }
      }
    }
    &:last-child {
      border: {
        bottom: 1px solid #333 {
          left: {
            radius: 15px;
          }
          right: {
            radius: 15px;
          }
        }
      }
    }
    .jai-col-ID {
      display: flex;
      justify-content: center;
      flex: 0 0 5%;
    }
    .jai-table-input {
      padding: 10px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
      resize: none;
    }
  }
  .jai-image-col {
    flex: 0 0 120px;
  }
}
