@font-face {
  font-family: "Poppins Light";
  src: url(../css/fonts/Poppins/Poppins-ExtraLight.ttf);
}
@font-face {
  font-family: "Poppins Regular";
  src: url(../css/fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Poppins Bold";
  src: url(../css/fonts/Poppins/Poppins-Bold.ttf);
}
body * {
  box-sizing: border-box;
  font-family: "Poppins Regular", Times, serif;
}
body .btn {
  border-radius: 35px;
  padding: 10px 20px;
}
body .btn.edit-btn, body .btn.delete-btn {
  text-indent: -9999999px;
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
  height: 42px;
  width: 42px;
}
body .btn.edit-btn {
  background-image: url(../assets/edit-icon.png);
}
body .btn.delete-btn {
  background-image: url(../assets/delete-icon.png);
}

.thumb-image {
  width: 50px;
}

.thumb-image2 {
  width: 70px;
}

.jai-image-col {
  flex: 0 0 120px;
}

.update-image {
  width: 200px;
}

.content-container {
  padding: 20px 50px 0 70px;
}
.content-container .page-name {
  margin-bottom: 20px;
}
.content-container .page-name h1 {
  font-weight: 600;
  margin: 0;
}

/* NAV STYLE */
.sticky-header {
  position: sticky;
  top: 0;
  left: 0;
}
.sticky-header .nav-container {
  position: absolute;
  top: 20px;
  left: -220px;
  height: calc(100vh - 40px);
  min-width: 238px;
  background-color: #06283d;
  z-index: 100;
  transition: all 300ms ease;
  color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 5px 5px 25px #b9b9b9;
}
.sticky-header .nav-container:hover {
  left: 0;
}
.sticky-header .nav-container .company-name {
  padding: 20px;
}
.sticky-header .nav-container .company-name h2 {
  font-size: 24px;
}
.sticky-header .nav-container .nav-link-container + .nav-link-container {
  margin-top: 10px;
}
.sticky-header .nav-container .nav-link-container a.nav-link {
  color: white;
  transition: all 300ms ease;
}
.sticky-header .nav-container .nav-link-container a.nav-link:hover {
  text-indent: 10px;
}

/* TABLE STYLE */
.jai-table {
  margin: 35px 15px;
}
.jai-table p {
  margin: 0;
}
.jai-table p.primary-font {
  font-weight: bold;
  margin-bottom: 3px;
}
.jai-table p.sub-font {
  font-size: 14px;
  line-height: 17px;
}
.jai-table p.red {
  color: #ec1e1e;
}
.jai-table p.green {
  color: #129b12;
}
.jai-table > .row {
  border-top: 1px solid #333;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
}
.jai-table > .row:first-child {
  font-weight: bold;
}
.jai-table > .row:first-child > * {
  padding-top: 10px;
  padding-bottom: 10px;
}
.jai-table > .row:first-child > * + * {
  border-left: 1px solid #333;
}
.jai-table > .row > * {
  padding-top: 5px;
  padding-bottom: 5px;
}
.jai-table > .row > * + * {
  border-left: 1px solid #333;
}
.jai-table > .row:first-child {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.jai-table > .row:last-child {
  border-bottom: 1px solid #333;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.jai-table > .row .jai-col-ID {
  display: flex;
  justify-content: center;
  flex: 0 0 5%;
}
.jai-table > .row .jai-table-input {
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  resize: none;
}

/*# sourceMappingURL=main.css.map */
