@font-face {
  font-family: "Poppins Light";
  src: url(../css/fonts/Poppins/Poppins-ExtraLight.ttf);
}
@font-face {
  font-family: "Poppins Regular";
  src: url(../css/fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Poppins Bold";
  src: url(../css/fonts/Poppins/Poppins-Bold.ttf);
}
body * {
  box-sizing: border-box;
  font-family: "Poppins Regular", Times, serif;
}

.thumb-image {
  width: 50px;
}

.thumb-image2 {
  width: 70px;
}

.update-image {
  width: 200px;
}

.content-container {
  padding: 20px 50px 0 70px;
}
.content-container .page-name {
  margin-bottom: 20px;
}
.content-container .page-name h1 {
  font-weight: 600;
  margin: 0;
}

.autocomplete {
  position: relative;
}
.autocomplete .suggestions-container {
  display: none;
  position: absolute;
  top: 55px;
  left: 0;
  z-index: 1000;
  background-color: white;
  border: 1px solid #333;
  border-radius: 15px;
  max-height: 222px;
  overflow: hidden;
  overflow-y: overlay;
}
.autocomplete .suggestions-container::-webkit-scrollbar {
  width: 6px;
}
.autocomplete .suggestions-container::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}
.autocomplete .suggestions-container::-webkit-scrollbar-track {
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
}
.autocomplete .suggestions-container.show-results {
  display: block;
}
.autocomplete .suggestions-container.show-results:empty {
  display: none;
}
.autocomplete .suggestions-container .suggestion-container {
  padding: 10px 15px;
  cursor: pointer;
  transition: all 150ms;
}
.autocomplete .suggestions-container .suggestion-container:hover {
  background-color: #06283d;
  color: white;
}

.jai-mb-1 {
  margin-bottom: 15px;
}

.jai-mb-2 {
  margin-bottom: 25px;
}

.btn {
  border-radius: 35px;
  padding: 10px 20px;
}
.btn.edit-btn, .btn.delete-btn, .btn.ledger-btn {
  text-indent: -9999999px;
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
  height: 42px;
  width: 42px;
}
.btn.edit-btn {
  background-image: url(../icons/edit-icon.png);
}
.btn.delete-btn {
  background-image: url(../icons/delete-icon.png);
}
.btn.ledger-btn {
  background-image: url(../icons/ledger.png);
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
input.datepicker,
textarea.datepicker,
select.datepicker {
  cursor: pointer;
}
input.form-control,
textarea.form-control,
select.form-control {
  transition: all 300ms;
  padding-left: 20px;
  border-radius: 25px;
  min-height: 45px;
}
input.form-control[readonly],
textarea.form-control[readonly],
select.form-control[readonly] {
  background-color: transparent;
}
input.form-control:focus,
textarea.form-control:focus,
select.form-control:focus {
  box-shadow: none;
  border-color: #1363df;
}
input.error,
textarea.error,
select.error {
  position: relative;
  border-color: #d32121;
}
input.error:focus,
textarea.error:focus,
select.error:focus {
  border-color: #d32121;
}

.form-image-container {
  margin: 25px;
  border: 1px solid #06283d;
  overflow: hidden;
  border-radius: 15px;
  width: 250px;
  height: 250px;
}
.form-image-container .form-image {
  cursor: pointer;
  height: 100%;
  width: 100%;
  object-position: center;
  object-fit: cover;
  transition: all 150ms;
  transform: scale(1.05);
}
.form-image-container .form-image:active {
  transform: scale(1);
}

.error-message {
  position: absolute;
  color: #d32121;
  font-size: 13px;
  margin-left: 22px;
}

textarea.form-control {
  border-radius: 15px;
}

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #06283d;
  width: 220px;
  height: 40px;
}

.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  padding: 8px 15px;
  transition: all 0.2s ease-in;
}
.select-styled:after {
  content: "";
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-color: #06283d transparent transparent transparent;
  position: absolute;
  top: 16px;
  right: 10px;
}
.select-styled:hover {
  background-color: #fafafa;
}
.select-styled:active, .select-styled.active {
  background-color: #f2f2f2;
}
.select-styled:active:after, .select-styled.active:after {
  top: 9px;
  border-color: transparent transparent #06283d transparent;
}

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #f2f2f2;
}
.select-options li {
  margin: 0;
  padding: 12px 0;
  text-indent: 15px;
  border-top: 1px solid #e6e6e6;
  transition: all 0.15s ease-in;
}
.select-options li:hover, .select-options li.is-selected {
  color: white;
  background: #06283d;
}
.select-options li[rel=hide] {
  display: none;
}

.ui-datepicker {
  margin-top: 10px;
  border-radius: 15px;
  border-color: #ced4da;
  padding: 0;
  width: 340px;
  overflow: hidden;
}
.ui-datepicker .ui-datepicker-header {
  background-color: #ced4da;
  border: none;
  display: flex;
  justify-content: center;
  padding: 5px;
}
.ui-datepicker .ui-datepicker-header .ui-corner-all {
  cursor: pointer;
}
.ui-datepicker .ui-datepicker-header .ui-corner-all.ui-datepicker-prev {
  transform: rotate(-45deg) translate(3px, 5px);
}
.ui-datepicker .ui-datepicker-header .ui-corner-all.ui-datepicker-next {
  transform: rotate(135deg) translate(4px, 2px);
}
.ui-datepicker .ui-datepicker-header .ui-corner-all.ui-state-hover {
  border: none;
  background-color: transparent;
}
.ui-datepicker .ui-datepicker-header .ui-corner-all.ui-datepicker-next-hover {
  right: 2px;
  top: 2px;
}
.ui-datepicker .ui-datepicker-header .ui-corner-all.ui-datepicker-prev-hover {
  left: 2px;
  top: 2px;
}
.ui-datepicker .ui-datepicker-header .ui-corner-all span {
  background-image: none;
  border-top: 1px solid #333;
  border-left: 1px solid #333;
  height: 9px;
  width: 9px;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-title {
  position: relative;
  display: flex;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-title > select {
  display: none;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-title .select-selected {
  margin: 0 20px;
  cursor: pointer;
  user-select: none;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-title .select-items {
  opacity: 1;
  position: absolute;
  left: -8%;
  top: 30px;
  background: white;
  border-radius: 15px;
  border: 1px solid #ced4da;
  font-size: 14px;
  line-height: 14px;
  overflow: hidden;
  cursor: pointer;
  max-height: 160px;
  overflow-y: overlay;
  min-width: 100px;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-title .select-items:last-child {
  left: 40%;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-title .select-items::-webkit-scrollbar {
  width: 6px;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-title .select-items::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-title .select-items::-webkit-scrollbar-track {
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-title .select-items > div {
  padding: 6px 15px;
  transition: all 150ms;
  cursor: pointer;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-title .select-items > div:hover {
  background-color: #ced4da91;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-title .select-items.select-hide {
  opacity: 0;
  pointer-events: none;
}
.ui-datepicker .ui-datepicker-calendar tbody tr td a {
  background: transparent;
  font-weight: normal;
  color: #333;
  border: 1px solid transparent;
  border-radius: 50px;
  height: 37px;
  width: 37px;
  padding: 0;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  text-align: center;
  transition: all 150ms;
}
.ui-datepicker .ui-datepicker-calendar tbody tr td a:hover, .ui-datepicker .ui-datepicker-calendar tbody tr td a.ui-state-active {
  border: 1px solid #333;
}

/* NAV STYLE */
.sticky-header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}
.sticky-header .nav-container {
  position: absolute;
  top: 20px;
  left: -220px;
  height: calc(100vh - 40px);
  min-width: 238px;
  background-color: #06283d;
  z-index: 100;
  transition: all 300ms ease;
  color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 5px 5px 25px #b9b9b9;
}
.sticky-header .nav-container:hover {
  left: 0;
}
.sticky-header .nav-container .company-name {
  padding: 20px;
}
.sticky-header .nav-container .company-name h2 {
  font-size: 24px;
}
.sticky-header .nav-container .nav-link-container + .nav-link-container {
  margin-top: 10px;
}
.sticky-header .nav-container .nav-link-container a.nav-link {
  color: white;
  transition: all 300ms ease;
}
.sticky-header .nav-container .nav-link-container a.nav-link:hover {
  text-indent: 10px;
}

/* TABLE STYLE */
.jai-table {
  margin: 35px 15px;
}
.jai-table p {
  margin: 0;
}
.jai-table p.primary-font {
  font-weight: bold;
  margin-bottom: 3px;
}
.jai-table p.sub-font {
  font-size: 14px;
  line-height: 17px;
}
.jai-table p.red {
  color: #ec1e1e;
}
.jai-table p.green {
  color: #129b12;
}
.jai-table > .row {
  border-top: 1px solid #333;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
}
.jai-table > .row:first-child {
  font-weight: bold;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.jai-table > .row:first-child > * {
  padding-top: 10px;
  padding-bottom: 10px;
}
.jai-table > .row:first-child > * + * {
  border-left: 1px solid #333;
}
.jai-table > .row:last-child {
  border-bottom: 1px solid #333;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.jai-table > .row.jai-data-row {
  transition: all 150ms;
}
.jai-table > .row.jai-data-row:hover {
  background-color: rgba(179, 179, 179, 0.39);
}
.jai-table > .row > * {
  padding-top: 5px;
  padding-bottom: 5px;
}
.jai-table > .row > * + * {
  border-left: 1px solid #333;
}
.jai-table > .row .jai-col-ID {
  display: flex;
  justify-content: center;
  flex: 0 0 5%;
}
.jai-table > .row .jai-table-input {
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  resize: none;
}
.jai-table .jai-image-col {
  flex: 0 0 120px;
}

.modal#editBorrower .modal-dialog,
.modal#editBorrower .success-message, .modal#createBorrower .modal-dialog,
.modal#createBorrower .success-message, .modal.payment-modal .modal-dialog,
.modal.payment-modal .success-message {
  max-width: 1200px;
}
.modal .modal-dialog .modal-content {
  border-radius: 15px;
}
.modal .modal-dialog .modal-content .modal-body-label {
  padding-left: 15px;
}
.modal .modal-dialog .success-message {
  position: relative;
  border-radius: 15px;
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  pointer-events: auto;
}
.modal .modal-dialog .success-message .close-container {
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
}
.modal .modal-dialog .success-message .close-container .close-button {
  position: relative;
  height: 25px;
  width: 25px;
  border-radius: 30px;
  border: 2px solid #333;
}
.modal .modal-dialog .success-message .close-container .close-button::before, .modal .modal-dialog .success-message .close-container .close-button::after {
  content: "";
  content: "";
  height: 2px;
  width: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #333;
}
.modal .modal-dialog .success-message .close-container .close-button::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.modal .modal-dialog .success-message .close-container .close-button::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

body.modal-open {
  overflow: visible !important;
  padding-right: 0 !important;
}

/*# sourceMappingURL=main.css.map */
