body {
  background-color: $background-color;
  font-size: 14px;
  * {
    box-sizing: border-box;
    font-family: "Poppins Regular", Times, serif;
  }
  ::-webkit-scrollbar {
    width: 5px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
    margin-top: 50px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  p,
  span {
    font-size: 12px;
  }
}

.thumb-image {
  width: 50px;
}

.thumb-image2 {
  width: 70px;
}

.update-image {
  width: 200px;
}

.content-container {
  padding: 20px 30px 0;
  margin: {
    left: 20px;
  }
  .page-name {
    margin: {
      top: 20px;
      bottom: 20px;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      font-weight: 600;
      font-size: 30px;
      margin: 0;
    }
    .actions-container {
      display: flex;
      > * {
        + * {
          margin-left: 30px;
        }
      }
    }
  }
}

.autocomplete {
  position: relative;
  .suggestions-container {
    display: none;
    position: absolute;
    top: 55px;
    left: 0;
    z-index: 1000;
    background-color: white;
    border: 1px solid #333;
    border-radius: 15px;
    max-height: 222px;
    overflow: hidden;
    overflow-y: overlay;
    @include custom-scrollbar();
    &.show-results {
      display: block;
      &:empty {
        display: none;
      }
    }
    .suggestion-container {
      padding: 10px 15px;
      cursor: pointer;
      transition: all 150ms;
      &:hover,
      &.focused {
        background-color: $primary-color;
        color: white;
      }
    }
  }
}

.jai-mb-1 {
  margin-bottom: 15px;
}

.jai-mb-2 {
  margin-bottom: 25px;
}
