body {
  * {
    box-sizing: border-box;
    font-family: "Poppins Regular", Times, serif;
  }
}

.thumb-image {
  width: 50px;
}

.thumb-image2 {
  width: 70px;
}

.update-image {
  width: 200px;
}

.content-container {
  padding: 20px 50px 0 70px;
  .page-name {
    margin-bottom: 20px;
    h1 {
      font-weight: 600;
      margin: 0;
    }
  }
}

.autocomplete {
  position: relative;
  .suggestions-container {
    display: none;
    position: absolute;
    top: 55px;
    left: 0;
    z-index: 1000;
    background-color: white;
    border: 1px solid #333;
    border-radius: 15px;
    max-height: 222px;
    overflow: hidden;
    overflow-y: overlay;
    @include custom-scrollbar();
    &.show-results {
      display: block;
      &:empty {
        display: none;
      }
    }
    .suggestion-container {
      padding: 10px 15px;
      cursor: pointer;
      transition: all 150ms;
      &:hover,
      &.focused {
        background-color: $primary-color;
        color: white;
      }
    }
  }
}

.jai-mb-1 {
  margin-bottom: 15px;
}

.jai-mb-2 {
  margin-bottom: 25px;
}
