@font-face {
  font-family: "Poppins Light";
  src: url(../css/fonts/Poppins/Poppins-ExtraLight.ttf);
}
@font-face {
  font-family: "Poppins Regular";
  src: url(../css/fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Poppins Bold";
  src: url(../css/fonts/Poppins/Poppins-Bold.ttf);
}